@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head-img{
    width: 70px;
    height: 80px;
    position: absolute;
    transform: translate(120px, 0);

}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px;
    padding-left: 50px; */
}

/* .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.grid span{
    padding: 4px 8px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
} */

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: hsl(217, 28%, 15%);
}

th, td {
    padding: 10px;
    border-left: 1px solid rgb(192, 186, 186);
    border-right: 1px solid rgb(192, 186, 186);
    border-bottom: 1px solid rgb(192, 186, 186);  
}
  
  table{
      margin: auto;
      border-collapse: collapse;
      width: 100%;
      
  }

  th{
      background-color: rgb(101, 155, 20);
      font-weight: lighter;
  }

  tr:hover{
    background-color: black;
    border: none;
  }

  #search-icon{
    background-image: url('./icons/search.svg');
    background-repeat: no-repeat;
    padding-right: 10px;
  }

  .search{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      padding: 50px;   
      width: 100%;
  }

  .search-bar button{
      outline: none;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 70px;
      font-size: 12px;
  }

  input[type=text]:focus {
    background-color: rgb(240, 232, 232); ;
    border: 2px solid #555;  
    
  }

  input[type=text]{
      background-position: 5px 5px;
      width: 200px;
      height: 30px;
      outline: none;
      padding-left: 30px;
      border: none;
    }

    h2{
        color: #7cc76a;
        letter-spacing: 2px;
        font-size:xx-large;
        z-index: 9999;
    }

    .virus-icon img{
        margin: 0px 50px 10px 50px;
        width: 70px;
    }

    .header{
        width: 100%;
    }

    .virus-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .search-bar-none{
        display: none;
    }



    @media (min-width: 0px)
    and (max-width: 600px) {
      .heading img{
        transform: translate(-30px,10px);
      }

      tr{
          overflow-x: scroll;
      }

      .search-bar-none{
          display: block;
          width: 100%;
          
      }

      .search-bar{
          display: none;
      }

      h2{
        line-height: 35px;
        padding: 15px;
      }

      .search-bar-none button{
        outline: none;
        width: 25%;
        height: 25px;
        font-size: 10px;
        border-radius: 5px;
    }

    button:hover{
        background-color:#a8e29b;
    }
  
    .search-bar-none input[type=text]:focus {
      background-color: rgb(240, 232, 232); ;
      border: 2px solid #555;  
      
    }

    .search{
        display: block;
    }
  
    .search-bar-none input[type=text]{
        background-position: 3px 3px;
        width: 70%;
        height: 25px;
        outline: none;
        padding-left: 25px;
        border: none;
        border-radius: 5px;
      }

    .virus-icon{
        margin-bottom: 20px;
    }
    
    tr:hover{
        background-color: black;
        border: none;
      }

    }